<div class='container'>
  <div ng-controller='ItemStagingController'>

    <h1>Please create an Item:</h1>
    <form ng-submit="create(manufacturer, name, lot_number, manufactured_on, expired_on)">
      <fieldset>
        <label for='name'>Name:</label>
        <input name='name' ng-model='name' type="text" placeholder="Bruce Wayne">

        <label for='manufacturer'>Manufacturer:</label>
        <input name='manufacturer' ng-model='manufacturer' type="text" placeholder="Wayne Industries">

        <label for='lot_number'>LOT Number:</label>
        <input name='lot_number' ng-model='lot_number' type="text" placeholder="10992KJ">

        <label for='manufactured_on'>Manufactured On:</label>
        <input name='manufactured_on' ng-model='manufactured_on' type="text" placeholder="Monday">

        <label for='expired_on'>Expired On:</label>
        <input name='expired_on' ng-model='expired_on' type="text" placeholder="Friday">

        <br/>
        <button type="submit" class='btn'>Submit</button>
      </fieldset>
    </form>

    <h1>Your created items:</h1>
    <ul ng-repeat='item in items'>
      <li>{{ item.name }}</li>
    </ul>
  </div>
</div>

<style type="text/css">

  fieldset > * {
    display: block;
    margin: 10px;
  }

  form {
    width: 50%;
  }
</style>
