<div class='container' ng-controller='ItemListController'>
  <div class='form-list'>
    <p>Create new Item:</p>
    <form ng-submit="create(name)">
      <fieldset>
        <label for='name'>Name:</label>
        <input type='text' ng-model="name" name="name" placeholder='Natural Orange Flavor' />

        <button type='submit'>Create!</button>
      </fieldset>
    </form>
  </div>

  <br>

  <div class='item-list'>
    <p>Life-cycle</p>

    <label for='search'>Search:</label>
    <input name='search' ng-model="search">

    <h3 ng-bind="items.length"></h3>
    <input type='checkbox' ng-model='expired' ng-click='requery()'/>

    <ul>
      <li ng-repeat='item in items | filter:search'><span data-color='{{ item.color }}' class="color-label">{{ item.code }}</span> {{ item.name }}| <a href="" title='delete' ng-click='delete(item)'>Delete</a></li>
    </ul>

    <!-- USED FOR DEVELOPMENT -->
      <style type="text/css">

        span {

          color: white;

          /* Font needs to be thicker for labels*/
/*          -webkit-text-fill-color: white;
          -webkit-text-stroke-width: 0.5px;
          -webkit-text-stroke-color: black;*/
          text-shadow:
            -1px -1px 0 black,
            -1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
        }

        ul {
          list-style-type: none;
          padding-left: 0;
        }

      </style>

      <div hidden ng-init='colorAssign()'></div>
    <!-- END DEVELOP -->

  </div>
</div>
