<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Expired Samples</h1>
    <p>
      The samples that have expired today are <br>
      <% @items.each do |item| %>
        <% if Time.now > item.expired_on %>
          <%= item.expired_on %>
        <% end %>
      <% end %>
    </p>
  </body>
</html>