body {
    background-image: url(../img/escheresque_ste.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 1.3em;
}

.container {
  margin: 0 auto;
  overflow-y: scroll;
  width: 1100px;
  background: #f1f1f1;
  border-radius: 4px;
  margin-left: 40px;
}

#header-title {
  color: #0088cc;
  text-decoration: none;
  /*margin-left: 30px;*/
}

a {
  text-decoration: none;
  margin: 0px auto;
  overflow-y: scroll;
  width: 800px;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.form-list {
  float: left;
  margin-top: 0px;
  padding: 30px 10px 0px 0px;
  border-radius: 4px;
}

.remove-list {
  float: left;
  padding: 10px 10px 0px 0px;
  margin-top: 10px;
  border-radius: 4px;
}

footer {
  clear: both;
}

header, footer, .search-options, .search-bar {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin: 0px;
}

.item-row {
  position: relative;
  float: left;
  list-style-type: none;
  font-size: 12px;
  height: 15px;
  padding: 9px 0px;
  border-bottom: 1px solid #e6e7e8;
}

.color_label {
  position: relative;
  float: left;
  width: 24px;
  height: 34px;
}

.inner_color {
  background: #4C5D75;
  width: 16px;
  height: 16px;
  margin: 9px 0px;
}

.fa-times { color: red; }

/*================== form */
fieldset {
border: 2px solid lightgray;
border-radius: 3px;
padding: 30px;
}

form#item-form {
margin-right: 80px;
}

#item-form input, #search-btn {
  width: 160px;
  padding: 7px;
  border-radius: 4px;
  float: right;
  line-height: 1.1em;
}

#search-btn {
  float: none;
}

form#item-form label {
line-height: 2.1em;
}

div.slideThree {
float: right;
position: absolute;
left: 710px;
top: 275px;
}

ul.inventory-list {
  margin-right: 110px;
  margin-top: -250px;
  width: 500px;
}

total-items {
  text-align: center;
  font-weight: bolder;
  font-size: 110%;
  border: 2px solid lightgray;

}

#wrapper-total-items {
 width: auto;
float: right;
padding: 10px;
margin-right: 300px;
margin-top: 20px;
font-weight: bold;
font-size: 130%;
}

#main-search {
  margin-top: 25px;
}

#main-search input {
  margin-left: 10px;
}
