body {
    background-image: url(../img/escheresque_ste.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.container {
  margin: 0px auto;
  overflow-y: scroll;
  width: 800px;
  background: #f1f1f1;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.form-list {
  float: left;
  margin-top: 0px;
  padding: 30px 10px 0px 0px;
  border-radius: 4px;
}

.remove-list {
  float: left;
  padding: 10px 10px 0px 0px;
  margin-top: 10px;
  border-radius: 4px;
}

footer {
  clear: both;
}

header, footer, .search-options, .search-bar {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin: 0px;
}

.item-row {
  position: relative;
  float: left;
  list-style-type: none;
  font-size: 12px;
  height: 15px;
  padding: 9px 0px;
  border-bottom: 1px solid #e6e7e8;
}

.color_label {
  position: relative;
  float: left;
  width: 24px;
  height: 34px;
}

.inner_color {
  background: #4C5D75;
  width: 16px;
  height: 16px;
  margin: 9px 0px;
}

p#graveyard {
  margin-left: 40px;
}
