body {
  background-image: url(../img/escheresque_ste.png);
  background-repeat: repeat;
  background-attachment: fixed;
    /*background: #f1f1f1;*/
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.container {
  margin: 0 auto;
  overflow-y: scroll;
  width: 800px;
  background: #E8E5E1;
  border-radius: 4px;
}

#header-title {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.item-list {
  float: left;
  padding: 30px 0px 30px 30px;
  margin: 0px;
  border-radius: 4px;
}

.form-list {
  float: left;
  margin-top: 0px;
  padding: 30px 10px 0px 0px;
  border-radius: 4px;
}

.remove-list {
  float: left;
  padding: 10px 10px 0px 0px;
  margin-top: 10px;
  border-radius: 4px;
}

footer {
  clear: both;
}

header, footer, .search-options, .search-bar {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin: 0px;
}

.item-row {
  position: relative;
  float: left;
  list-style-type: none;
  font-size: 12px;
  height: 15px;
  padding: 9px 0px;
  border-bottom: 1px solid #e6e7e8;
}

.color_label {
  position: relative;
  float: left;
  width: 24px;
  height: 34px;
}

.inner_color {
  background: #4C5D75;
  width: 16px;
  height: 16px;
  margin: 9px 0px;
}

p#graveyard {
  margin-left: 40px;
}


/* Slider */
input[type=checkbox] {
  visibility: hidden;
}

.slideThree {
  width: 150px;
  height: 26px;
  background: #333;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
  content: 'All Items';
  font: 12px/26px Arial, sans-serif;
  color: #00bf00;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
  content: 'Expired';
  font: 12px/26px Arial, sans-serif;
  color: red;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 60px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
  left: 87px;
}
