<p id="notice"></p>

<h3>Item</h3>

<section style='border: 1px dashed gray; padding: 20px;'>
  <p>
    <strong>Manufacturer:</strong><span id="manufacturer"></span>
  </p>

  <p>
    <strong>Name:</strong><span id="item_name"></span>
  </p>

  <p>
    <strong>Lot number:</strong><span id="lot_no"></span>
  </p>

  <p>
    <strong>Manufactured on:</strong><span id="man_date"></span>

  </p>

  <p>
    <strong>Expired on:</strong><span id="exp_date"></span>
  </p>

  <p>
</section>

<section style="border: 1px dashed gray; margin: 20px 0;padding:20px;">
  <h3>SHOW ME TRANSACTIONS DONE TO THIS ITEM:</h3>


</section>
