<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/main.css">
</head>
  <body ng-app="searchApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <header>
        <h2 style="width: 50%;display:inline"><a href="/"><img src="/assets/harpoon.png" width="200px"></a></h2>
      </header>

      <div class="search-bar">
        <label for="search">Search:</label>
        <input name="search" ng-model="search">
      </div>

      <div class="search-options">
        <p>Search Options:</p>
        <select ng-model="orderProp">
          <option value="name">Name</option>
          <option value="manufacturer">Manufacturer</option>
        </select>
      </div>

      <div class="item-list" ng-controller="ItemListController">
        <h1>Hello Angular!</h1>
        <ul ng-repeat="item in items | filter:search | orderBy:orderProp">
          <li>Name: {{ item.name }}</li>
          <li>Manufactuer: {{ item.manufacturer }}</li>
          <li>Code: {{ item.code }} </li>
          <li>Color: {{ item.color }}</li>
        </ul>
      </div>

      <footer style="margin-top:20%">
        <h3 style="display:inline">© Project Harpoon</h3>
        <h3 style="display:inline;float:right"><a href="#">Meet the Dev Team</a></h3>
      </footer>
    </div>

    <style type="text/css">

      header, footer,.container,
      .item-list, .search-options,
      .search-bar {
        border: 1px dashed gray;
        padding: 20px;
        margin: 20px;
      }

    </style>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>



    <script src="scripts/488e3e7a.plugins.js"></script>

    <script src="scripts/8e735035.modules.js"></script>

    <script src="js/scripts.js"></script>
</body>
</html>
