<section class='flash-message'>
  <button style="width:700px;margin:auto;">Please let us know what you think and how we can improve the site by clicking here</button>
</section>

<section class='search'>
  <h1>Welcome to Harpoon</h1>

  <form action="/items?search=whatever">
    <label for="query">Search:</label>
    <input type="text" name='query'>

    <input type="submit" value="Find">
  </form>

  <div class='description'>
    <p>Inventories are necessary for a firm to operate efficiently and almost all business transactions involve the delivery of a product or service in exchange for currency. For this reason, inventory management is a very important part of core operations activities. Most retail businesses and wholesale organizations acquire most of their revenue through the sale of merchandise (inventory). In order for business and supply chains to run effectively, and efficiently they must meet all the listed requirements for effective inventory management. Some of the main concerns are the level of customer service and the cost of ordering, storing, and carrying inventory. Therefore, in order to be a successful and profitable company, inventory management must be managed wisely.</p>
  </div>
</section>


<section class="overall-health">
  <h3>Global Inventory Status</h3>

  <div id="health-chart">
    <p>Expired Total</p>
  </div>

  <div hidden id="health_percentages"><%= @health_percentages %></div>
  <div hidden id="health_percentages"><%= @health_percentages_by_location %></div>

<section class='inventory'>
  <h1>Inventory</h1>
  <div style="border: 1px solid black;margin-top: 10px; margin-bottom: 10px">
    <p>Put some cool data here.</p>
  </div>
  <a href="/storages"><button style="width:700px;margin:auto;">Manage Storage</button></a>
</section>


<!-- Used for development purposes only -->

<style>

  section {
    border: 1px dashed gray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  section div, section h1, section form {
    text-align: left;
  }

</style>
