<section class='flash-message'>
  <button style="width:700px;margin:auto;">Please let us know what you think and how we can improve the site by clicking here</button>
</section>

<section class='search'>
  <h1>Welcome to Harpoon</h1>

  <form action="/items?search=whatever">
    <label for="query">Search:</label>
    <input type="text" name='query'>
    
    <input type="submit" value="Find">
  </form>

  <div class='description'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue auctor suscipit. Proin id enim vulputate, eleifend sapien at, aliquet elit. Phasellus in porttitor lectus, sed ultrices mi. Quisque bibendum, tortor at tempus sagittis, lectus odio auctor lorem, vitae fermentum nulla ante quis purus. Donec lacinia arcu vel tempus sagittis. Nunc posuere odio ipsum, vel cursus neque volutpat et. Ut consequat orci urna. Nunc non felis eu neque mollis laoreet euismod eu lectus. Donec eu consectetur metus. Duis laoreet tempus elementum. Integer auctor quis felis vitae sagittis. Ut ultrices tellus lectus, et hendrerit sapien mattis eget.</p>
  </div>
</section>

<section class='recent-activity'>
  <h1>Recent Activity</h1>
  <div class='feed'>
    <p>4 minutes ago | <a href="">Andrew Younge</a> added <a href="">Natural Orange Flavor</a> to <a href="">Gatorade Lab</a>.</p>
    <p>30 minutes ago | <a href="">George Amolsch</a> removed <a href="">Peach Mango</a> to <a href="">Gatorade Lab</a>.</p>
    <p>2 hours ago | <a href="">Red Tomato</a> expired in <a href="">Pilot Plant</a>.</p>
    <p>3 hours ago | <a href="">Kel Kanhirun</a> updated <a href="">Nat Orange Fl WONF</a> to <a href="">Gatorade Lab</a>.</p>
  </div>
</section>

<section class='inventory'>
  <h1>Inventory</h1>
  <div style="border: 1px solid black;margin-top: 10px; margin-bottom: 10px">
    <p>Put some cool data here.</p>
  </div>
  <button style="width:700px;margin:auto;">Manage Storage</button>
</section>

<!-- Used for development purposes only -->

<style>
  
  section {
    border: 1px dashed gray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  section div, section h1, section form {
    text-align: left;
  }

</style>