<section class='search'>
  <div id="item_info">
    <%= render 'view_item' %>
  </div>
</section>

<section class="overall-health">
  <div id="health-chart">
    <h1>Inventory Healthiness</h1>
    <p>What do you think these green dots mean?</p>
  </div>

  <div hidden id="item_values">
    <%= @item_values %>
  </div>
</section>

<section class='inventory'>
  <%= link_to 'Dashboard', dashboard_path %>
</section>
