<h1>Container 1</h1>

<h2>Warning! Your storage needs your medical attention!</h2>

<div class='item'>
  <h4>Orange Flavor : Takasago</h4>
  <p class='btn-danger low'>Help! Help!</p>
</div>

<% @items.each do |item| %>
<div class='item'>
  <h4><%= item.name %>: <%= item.manufacturer %></h4>
  <div class='btn-success'>Nah, man. I'm totally good.</div>
</div>
<% end %>
