<h1>Container 1</h1>

<h2>Warning! Your storage needs your medical attention!</h2>

<div class='item'>
  <h4>Orange Flavor : Takasago</h4>
  <p class='btn-danger low'>Help! Help!</p>
</div>

<div class='item'>
  <h4>Pineapple Sunrise : Takasago</h4>
  <p class='btn-success high'>Nah, man. I'm totally good.</p>
</div>

<div class='item'>
  <h4>Pineapple Sunrise : Takasago</h4>
  <p class='btn-success high'>Nah, man. I'm totally good.</p>
</div>

<div class='item'>
  <h4>Pineapple Sunrise : Takasago</h4>
  <p class='btn-success high'>Nah, man. I'm totally good.</p>
</div>

<div class='item'>
  <h4>Pineapple Sunrise : Takasago</h4>
  <p class='btn-success high'>That looks good, huh?</p>
</div>

<!-- USED FOR DEVELOPMENT PURPOSES ONLY -->

<style type="text/css">

  .low {
    width: 200px;
    height: 25px;
  }

  .high {
    width: 700px;
    height: 25px;
  }

  .item {
    border: 1px dashed pink;
    margin-top: 20px;
    margin-bottom: 20px;
  }

</style>
