<div id="overview">
<h3>Compounds Overview</h3>
  <p id="percent_expired"><%= @expired_percent.round(2) %>% expired</p>
  <p id="percent_expired"><%= @almost_expired.round(2) %>% will expire within 14 days</p>
  <p id="percent_expired"><%= @not_pending_expired.round(2) %>% will not expire soon</p>

</div>

<nav>
  <p>Search Options:</p>
  <button>Gatorade Lab - Hazardous</button>
  <button>Pilot Plant</button>
</nav>

<section>
    <div class='show-item'>
        <a href=""><h1 class='title'>Natural Orange Flavor</h1></a>
        <p class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue auctor suscipit. Proin id enim vulputate, eleifend sapien at, aliquet elit. Phasellus in porttitor lectus, sed ultrices mi. Quisque bibendum, tortor at tempus sagittis, lectus odio auctor lorem, vitae fermentum nulla ante quis purus. Donec lacinia arcu vel tempus sagittis. Nunc posuere odio ipsum, vel cursus neque volutpat et. Ut consequat orci urna. Nunc non felis eu neque mollis laoreet euismod eu lectus. Donec eu consectetur metus. Duis laoreet tempus elementum. Integer auctor quis felis vitae sagittis. Ut ultrices tellus lectus, et hendrerit sapien mattis eget.</p>
    </div>
    <div class='show-item'>
        <a href=""><h1 class='title'>Artificial Vanilla Green WONF</h1></a>
        <p class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue auctor suscipit. Proin id enim vulputate, eleifend sapien at, aliquet elit. Phasellus in porttitor lectus, sed ultrices mi.</p>
    </div>
    <div class='show-item'>
        <a href=""><h1 class='title'>Red Tomato</h1></a>
        <p class='description'>Ut consequat orci urna. Nunc non felis eu neque mollis laoreet euismod eu lectus. Donec eu consectetur metus. Duis laoreet tempus elementum. Integer auctor quis felis vitae sagittis. Ut ultrices tellus lectus, et hendrerit sapien mattis eget.</p>
    </div>
</section>


<!-- Used for development purposes -->

<style>

  .show-item {
    border: 1px dashed gray;
    padding: 10px;
    margin: 10px;
  }

  .show-item h1 { font-size: 20px; }
  .show-item p { font-size: 14px;}

  nav {
    border: 1px dashed gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style>
>>>>>>> feature-implement-prototype
