div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: steelblue;
  margin-right: 2px;
}

div#health-chart {
  /*border: 1px solid lightgray;*/
  border-radius: 8px;
  background-image:
     linear-gradient(
     E9E5E0, white
     );
  /*background-color: salmon;*/
  color: gray;
  font-family: Helvetica;
  width: 275px;
  padding: 4px;
}


