body {
  background: #F1F1F1;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: steelblue;
  margin-right: 2px;
}

img {
  margin-top: 20px;
}

button, input {
  width: 200px;
  color: #111;
}

form {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 4px;
}

  .storage {
    border: 1px solid gray;
    width: 200px;
    height: 200px;
  }

  .draggable {
    background-color: pink;
    width: 200px;
    height: 20px;
    margin: 100px;
  }

.content {
  width: 800px;
}

.description {
  float: left;
  padding: 20px;
  width: 355px;
}

div#health-chart {
  border-radius: 3px;
  padding: 4px;
}

#form_data {
  width: 600px;
  height: 1000px;
}

.field {
  float: left;
  width: 220px;
  margin-right: 50px;
}

section {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 3px;
}

section div, section h1, section form {
  text-align: left;
}

p.activity {
  width: 640px;
  height: 25px;
  font-size: 0.900em;
  border-radius: 3px;
  margin-bottom: 4px;
  padding: 2px;
  color: #003651;
  background-image:
    linear-gradient(
      #eee, #ccc
    );
}

p span {
  font-family: futura;
  font-weight: bold;
  color: #337EA3;
  width: 200px;
  padding-left: 5px;
}

div.gatorade_chart {
  float: right;
  width: 350px;
}

.low {
    width: 200px;
    height: 25px;
  }

  .high {
    width: 700px;
    height: 25px;
  }

  .item {
    border: 1px dashed pink;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.btn-success {
    height: 140px;
  }

  div.recent-activity {
    float: bottom;
    width: 520px;
  }

a {
  text-decoration: none;
}

.item-list {
  float: right;
  width: 300px;
  padding: 30px 0px 30px 30px;
  margin: 0px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.form-list {
  float: left;
  margin-top: 0px;
  padding: 30px 10px 0px 0px;
  border-radius: 4px;
  height: 500px;
}

fieldset {
  width: 100px;
  height: 500px;
}

/*.remove-list {
  float: left;
  padding: 10px 10px 0px 0px;
  margin-top: 10px;
  border-radius: 4px;
}*/

footer {
  clear: both;
}

header, footer, .container, .search-options, .search-bar {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  margin: 0px;
}

ul li {
  position: relative;
  float: right;
  list-style-type: none;
  font-size: 6px;
  height: 15px;
  padding: 9px 0px;
  border-bottom: 1px solid #e6e7e8;
}

.color_label {
  position: relative;
  float: left;
  width: 24px;
  height: 34px;
}

.inner_color {
  background: #4C5D75;
  width: 16px;
  height: 16px;
  margin: 9px 0px;
}

p#graveyard {
  margin-left: 40px;
}

h2 {
  display: inline;
  float: left;
}

h4 {
  font-weight: bold;
  display: inline;
  float: right
}
