body {
  background: #F1F1F1;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: steelblue;
  margin-right: 2px;
}

img {
  margin-top: 20px;
}

button, input {
  width: 200px;
  color: #111;
/*  border-radius: 3px;*/
}

form  {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 4px;
}

  .storage {
    border: 1px solid gray;
    width: 200px;
    height: 200px;
  }

  .draggable {
    background-color: pink;
    width: 200px;
    height: 20px;
    margin: 100px;
  }

div#health-chart {
  /*border: 1px solid lightgray;*/
  border-radius: 3px;
  /*background-image:
     linear-gradient(
     #E9E5E0, #E9E5E0
     );*/
  /*background-color: salmon;*/
  /*color: gray;*/
  font-family: `;
  /*width: 700px;*/
  padding: 4px;
}

#form_data {
  width: 600px;
  height: 1000px;
}

.field {
  float: left;
  width: 220px;
  margin-right: 50px;
  /*padding-right: 20px;*/
  /*border: solid 1px lightgray;*/
}

section {
/*  border: 1px solid lightgray;*/
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 3px;
}

section div, section h1, section form {
  text-align: left;
}

p.activity {
  width: 640px;
  height: 25px;
  font-family: sans-serif;
  font-size: 0.900em;
  border-radius: 3px;
  margin-bottom: 4px;
  padding: 2px;
  color: #003651;
  background-image:
    linear-gradient(
      #eee, #ccc
    );
}

p span {
  font-family: futura;
  font-weight: bold;
  color: #337EA3;
  width: 200px;
  padding-left: 5px;
}

div.gatorade_chart {
  float: right;
  width: 350px;
}

.low {
    width: 200px;
    height: 25px;
  }

  .high {
    width: 700px;
    height: 25px;
  }

  .item {
    border: 1px dashed pink;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.btn-success {
    height: 140px;
  }

  div.recent-activity {
    float: bottom;
    width: 520px;
  }


