<!DOCTYPE html>
<html>
<head>
  <title>Harpoon</title>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <script src="http://code.highcharts.com/highcharts.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <header>
    <h1>Inventory For Humans</h1>
  </header>

  <%= yield %>

  <footer>
    <hr>
  </footer>
</div>

</body>
</html>
