<html ng-app>
<head>
  <title></title>

  <!-- build AngularJS -->
  <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
  <!-- endbuild -->

</head>
<body>
  <h1>Layout: ng-Search</h1>

  {{ "Hello World" }}

  <%= yield %>

</body>
</html>
